header{
    background: #845212;
    position: absolute;
    z-index: 999;
    left: 0;
    right: 0;
    padding: 30px 0;
    transition: 0.5s;
}
header.sticky{
    position: fixed; 
    padding: 2px 0;
    background: #ffe078;
    color: black;
    box-shadow: 0 2px 2px rgba(0, 0, 0, .3);
    transition: 0.5s;
}

header span{
    text-decoration: none;
    color: #ffffff;
}
header.sticky div a span{
    color: #000;
    text-decoration: none;
}

header span img{
    color: wheat;
}
header.sticky span img{
    filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
    
}

header div nav{float: right;}

header div nav ul{float: left;}

header div nav ul li{float: left; list-style: none;}

header div nav ul li a{
    line-height: 56px;
    font-size: 14px;
    text-decoration: none;
}

.main-menu li{margin-right:29px;}

.main-menu li:last-child{margin-right:60px;}

.hline{
    padding: 0px;
    display: block;
    position: absolute;
    height: 100%;
    width: 1px;
    left: 50%;
    transform: translateX(-50%);
    border-left: 1px solid rgb(200, 200, 200);
}

.main-content{
    height: 1750px;
    padding-top: 150px;
    background-color: #fffeee;
    position: relative;
}
.content{
    position: relative;
}
.VitalNotice{
    background-color: #fffaaa;
    border-collapse: collapse;
    border-radius: 4px;
    /* border: 1px solid rgb(209, 163, 88); */
}
.Hover{
    transition: 0.3s;
}
.Hover:hover{
    transition: 0.3s;
    background-color: #cccccc;
    border: 0;
}
.Page{
    position: absolute;
    bottom: -7%;
    width: 100%;
    margin: 0;
    text-align: center;
    justify-content: center;
}
.page-item{
    text-align: center;
    justify-content: center;
    display: inline-block;
    min-width: 26px;
    padding: 1px 5px;
    /* width: 32px;
    height: 32px; */
    margin: 1px;
    text-decoration: none;
    background-color: #fef794;
    color: #000000;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s;
}
.page-item:hover{
    background-color: #845212;
    color: #ffffff;
    transition: 0.3s;
}
.page-item-activity{
    justify-content: center;
    display: inline-block;
    min-width: 26px;
    padding: 1px 5px;
    /* width: 32px;
    height: 32px; */
    margin: 1px;
    text-decoration: none;
    background-color: #845212;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
}
.page-item-activity:hover{
    justify-content: center;
    display: inline-block;
    padding: 1px 5px;
    /* width: 32px;
    height: 32px; */
    margin: 1px;
    text-decoration: none;
    background-color: #845212;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
}
.page-item-donot{
    justify-content: center;
    display: inline-block;
    padding: 1px 5px;
    /* width: 32px;
    height: 32px; */
    margin: 1px;
    text-decoration: none;
    background-color: #e7e7e7;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s;
}
.page-item-donot:hover{
    justify-content: center;
    display: inline-block;
    padding: 1px 5px;
    /* width: 32px;
    height: 32px; */
    margin: 1px;
    text-decoration: none;
    background-color: #e7e7e7;
    color: #000;
    font-weight: 500;
    font-size: 15px;
    border-radius: 20px;
    transition: 0.3s;
}
.page-item-img{
    width: 18px;
    height: 18px;
}
footer{
    height: 200px;
    background-color: rgb(255, 253, 239);
}

@media all and (max-width:767px) {
    .hline{
        display: none;
    }
    .main-content{
        height:2350px;
        padding-top: 150px;
    }
    .content{
        height: 44%;
    }
    .Page{
        position: absolute;
        bottom: 0%;
        width: 100%;
        transform: translateY(0%);
    }
}